{% extends 'base.html.twig' %}

{% block title %}Thanks
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Thanks for your donation!</h1>
		<p>Your generosity is greatly appreciated.</p>
	</div>

	<a href="{{ path('app_association_index') }}">Back To List</a>
{% endblock %}
